nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: space-around;
}

h1, h3 {
  text-align:center;
}

div#userInfo {
  text-align:center;
  width: 100%;
}

div.nutritionTargets {
  text-align:center;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.nutritionTargets span {
  margin: 0 auto;
  padding: 10px;
}

div.logs-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

form.log-form {
  text-align:center;
}
